@media screen and (max-width: 760px) {
  .table-of-contents {
    display: none;
  }
  .content {
    width:95%; 
  }
}
@media screen and (min-width: 761px) {
	.content {
    margin-left: 220px;
    width: calc(95% - 220px);
  }
}

body {
  overflow: visible;
}

.content {
  overflow: visible;
  padding:15px; 
  max-width: 800px;
}

.table-of-contents {
  position: fixed;
  left: 0;
  top: 60px;
  /* transform: translateY(-50%); */
  width: 200px;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table-of-contents ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-of-contents a {
  display: block;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
}

.table-of-contents li ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.table-of-contents li ul li {
  list-style: circle;
}

#editlink {
  float: right;
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

img {
  max-width: 100%;
}
